body{
	font-size:14px;
}

select {
	position:relative;
	float:none;
    padding:0px;
    border: 1px solid #ccc;
    -moz-box-shadow: 1px 1px 2px #ccc;
    -moz-border-radius: 5px;
    min-width: 10px;
	font-size:12px;
	font-weight:lighter;
}




#url_table_div
{
	width:100%;
	height:100%;
	border-radius:4px;
}

#url_table_div ul li
{
	position:relative;
	float:left;
}

#url_table_div ul li a
{
	border:0px;
	border-radius:3px;
	margin-right:0px;
	
} 

#url_table_div ul li.ui-tabs-selected a 
{
	background: #ffffff; 
	color:#4d4d4d;
}
