
body {

	margin-left: 0px;

	margin-top: 0px;

	margin-right: 0px;

	margin-bottom: 0px;

}

.tabfont01 {	
	font-family: "宋体";
	font-size: 9px;
	color: #555555;
	text-decoration: none;
	text-align: center;
}

.font051 {font-family: "宋体";

	font-size: 12px;

	color: #333333;

	text-decoration: none;

	line-height: 20px;

}

.font201 {font-family: "宋体";

	font-size: 12px;

	color: #FF0000;

	text-decoration: none;

}

.button {

	font-family: "宋体";

	font-size: 14px;

	height: 37px;

}

html { overflow-x: auto; overflow-y: auto; border:0;} 
